/**
 * Created by zh on 2023/3/31.
 */
.container {
  min-height: 100vh;
}

.main {
  & > div {
    height: 100%;
  }

  .layoutContent {
    margin: 24px;
    padding: 24px;
    background-color: rgb(228, 241, 239);
    border-radius: 8px;
  }
}

.logo {
  display: block;
  width: 100px;
  height: 100px;
  margin: 20px auto;
  background: url('@/assets/images/home.png') no-repeat center;
  background-size: cover;
  cursor: pointer;
  transition: all 0.2s linear;

  &:hover {
    transform: scale(1.1);
  }
}

.header {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #fff;
  padding: 0 0 0 16px;
}
